output_dir: ./temp

hydra:
  run:
    dir: ${output_dir}

version: 1.1.0
defaults:
  - _self_


unstructured_pdf_file: /Users/omidmaghsoudi/github/LLM_RAGs/src/omid_llm/dataset/ai_adoption_framework_whitepaper.pdf
